<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="table-responsive">
  <table id="productDataTable" class="table table-striped" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Subgroup</th>
      <th>Cost Price</th>
      <th>Sale Price</th>
      <th>Created At</th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

<br>

<%= link_to "New Product", new_product_path, remote: true, class: "btn btn-default" %>

<div id="product-modal" class="modal fade"></div>


<script>

    $('#productDataTable').on( 'key', function ( e, datatable, key, cell, originalEvent ) {
        if ( key == 13 ) {
            var r = datatable.row( cell.index().row ).data();
            alert(r.id + ' - ' + r.description);
            console.log(r);
        }
    });

</script>